body {
    background-color: whitesmoke;
}

.navbar {
    background-color: #ADADAD;
}

#home {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.country {
    fill: rgb(187, 185, 185);
    stroke: black;
    stroke-width: 0.8;
}

#chart {
    position: center;
}

.container{
    margin-top: 20px;
}

#toggle-trendline-button {
    background-color: red;
}

.tooltip {
    position: relative;
    top: 0;
    left: 100%;
}


#q3 {
    position: absolute;
    z-index: 9999;
    display: none;
    background-color: black;
    color: white;
    border: 1px solid red;
    padding: 10px;
    font-size: 12px;
    pointer-events: none;
    border-radius: 10px;
}

svg {
    position: center;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: scroll;
    background-color: whitesmoke;

}

.dropdown-toggle {
    color: white;
    border-color: black;
}

.dropdown-item {
    color: black;
}

h2 {
    color: red;
}


