.country {
    fill: rgb(187, 185, 185);
    stroke: yellow;
    stroke-width: 0.5;
}

#chart {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.container{
    margin-top: 20px;
}

#toggle-trendline-button {
    background-color: red; /* Replace with your desired color code */
}

.tooltip-container {
    position: relative;
    z-index: 2;
}

.tooltip {
    position: absolute;
    z-index: 9999;
    display: none;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 12px;
    pointer-events: none;
}

  

/*p {*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    !* Adjust top and left values as needed *!*/
/*    top: 200px;*/
/*    left: 10px;*/
/*}*/